.copyrightNote {
    color: white;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
  }
  .nameHighlight {
    background-color: #000000;
    color: white;
    font-family: "Caveat", cursive;
    padding: 0.3rem;
    font-size: 1rem;
  }
  