.copyrightNote {
    color: white;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    font-size: 1vmin;
  }
  .nameHighlight {
    background-color: #000000;
    color: white;
    font-family: "Caveat", cursive;
    padding: 0.5vmin;
    font-size: 2vmin;
  }
  